.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100vw;
    align-items: center;
    background-color: grey;
}

.navItem {
    margin-left: 15px;
    margin-right: 15px;
}

.dog {
    margin-top: 50px;
}

.menu {
    background-color: aqua;
    width: 80vw;
    height: 200px;
}

.menuItem {
    background-color:beige;
    width: 60vw;
    height: 200px;
}

.about {
    background-color: rgb(33, 155, 22);
    width: 80vw;
    height: 200px;
}

.base {
    background-color:rgb(124, 141, 124);
    width: 100vw;
    width: 100vh;

}